17 class complex numbers/stdafx.cpp
17 class complex numbers/17 class complex numbers.vcxproj
17 class complex numbers/17 class complex numbers.vcxproj.filters
17 class complex numbers/stdafx.h
17 class complex numbers/targetver.h
17 class complex numbers/ReadMe.txt
17 class complex numbers/Debug/

18 rectangle/stdafx.cpp
18 rectangle/18 rectangle.vcxproj
18 rectangle/18 rectangle.vcxproj.filters
18 rectangle/stdafx.h
18 rectangle/targetver.h
18 rectangle/ReadMe.txt
18 rectangle/Debug/

19 Fifio lifo/stdafx.cpp
19 Fifio lifo/19 Fifio lifo.vcxproj
19 Fifio lifo/19 Fifio lifo.vcxproj.filters
19 Fifio lifo/stdafx.h
19 Fifio lifo/targetver.h
19 Fifio lifo/ReadMe.txt
19 Fifio lifo/Debug/

24 Graphic Redactor/stdafx.cpp
24 Graphic Redactor/24 Graphic Redactor.vcxproj
24 Graphic Redactor/24 Graphic Redactor.vcxproj.filters
24 Graphic Redactor/stdafx.h
24 Graphic Redactor/targetver.h
24 Graphic Redactor/ReadMe.txt
24 Graphic Redactor/Debug/

